dashboard.json
[
    {
        "id": "edf5691ec05a76df",
        "type": "tab",
        "label": "Modbus Energy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b5c3afa7527547d",
        "type": "function",
        "z": "edf5691ec05a76df",
        "name": "Get Data",
        "func": "// L1 Variables\nvar v1_int = msg.payload[0];\nvar v1_dec = msg.payload[1]/100;\nmsg.voltage_L1 = v1_int + v1_dec;\n\nvar c1_int = msg.payload[2];\nvar c1_dec = msg.payload[3]/100;\nmsg.current_L1 = c1_int + c1_dec;\n\nvar p1_int = msg.payload[4];\nvar p1_dec = msg.payload[5]/100;\nmsg.power_L1 = p1_int + p1_dec;\n\nvar e1_int = msg.payload[6];\nvar e1_dec = msg.payload[7]/1000;\nmsg.energy_L1 = e1_int + e1_dec;\n\nvar f1_int = msg.payload[8];\nvar f1_dec = msg.payload[9]/10;\nmsg.frequency_L1 = f1_int + f1_dec;\n\nvar pf1_int = msg.payload[10];\nvar pf1_dec = msg.payload[11]/100;\nmsg.pf_L1 = pf1_int + pf1_dec;\n\n// L2 Variables\nvar v2_int = msg.payload[12];\nvar v2_dec = msg.payload[13]/100;\nmsg.voltage_L2 = v2_int + v2_dec;\n\nvar c2_int = msg.payload[14];\nvar c2_dec = msg.payload[15]/100;\nmsg.current_L2 = c2_int + c2_dec;\n\nvar p2_int = msg.payload[16];\nvar p2_dec = msg.payload[17]/100;\nmsg.power_L2 = p2_int + p2_dec;\n\nvar e2_int = msg.payload[18];\nvar e2_dec = msg.payload[19]/1000;\nmsg.energy_L2 = e2_int + e2_dec;\n\nvar f2_int = msg.payload[20];\nvar f2_dec = msg.payload[21]/10;\nmsg.frequency_L2 = f2_int + f2_dec;\n\nvar pf2_int = msg.payload[22];\nvar pf2_dec = msg.payload[23]/100;\nmsg.pf_L2 = pf2_int + pf2_dec;\n\n// L3 Variables\nvar v3_int = msg.payload[24];\nvar v3_dec = msg.payload[25]/100;\nmsg.voltage_L3 = v3_int + v3_dec;\n\nvar c3_int = msg.payload[26];\nvar c3_dec = msg.payload[27]/100;\nmsg.current_L3 = c3_int + c3_dec;\n\nvar p3_int = msg.payload[28];\nvar p3_dec = msg.payload[29]/100;\nmsg.power_L3 = p3_int + p3_dec;\n\nvar e3_int = msg.payload[30];\nvar e3_dec = msg.payload[31]/1000;\nmsg.energy_L3 = e3_int + e3_dec;\n\nvar f3_int = msg.payload[32];\nvar f3_dec = msg.payload[33]/10;\nmsg.frequency_L3 = f3_int + f3_dec;\n\nvar pf3_int = msg.payload[34];\nvar pf3_dec = msg.payload[35]/100;\nmsg.pf_L3 = pf3_int + pf3_dec;\n\n\n//msg.voltage_L1 = v1_int + v1_dec;\n//msg.voltage_L2 = v2_int + v2_dec;\n//msg.voltage_L3 = v3_int + v3_dec;\n\nmsg.rs = ((((v3_int + v3_dec) + (v2_int + v2_dec))/2)*1.732).toFixed(2);\nmsg.rt = ((((v3_int + v3_dec) + (v1_int + v1_dec))/2)*1.732).toFixed(2);\nmsg.ts = ((((v1_int + v1_dec) + (v2_int + v2_dec))/2)*1.732).toFixed(2);\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "a67d5c0344dcd126",
                "d9c1797311f70dcd",
                "f3974edd88213c87",
                "7a8d65bdfe768491",
                "ccd5d427a756f425",
                "85e5995765a4b20e",
                "18914cfcc71fe8f2",
                "d619ef1751d95be7",
                "f79670b7a27bf7b3",
                "314d75290b5fa781",
                "d46753231f428daf",
                "9236e2272794a0ab",
                "201a2fcc18a267af",
                "dd41ad6902f1da25",
                "0d6cf2940caddc8f",
                "457f3f5f120dc3fe",
                "9956b831aa2847ba",
                "ffe4715df2c889f6",
                "775561dc69c5402b",
                "a36510582ba13d27",
                "357c20fbe554c8f3",
                "fa4be7bb3f1f2207",
                "52c2f436c365a3bf",
                "136cd82f96ec1854",
                "90acecc3ebfaed59",
                "d488d9796df2e504",
                "700df19eee195630",
                "72a0cd2988cbeb54",
                "618037b6ac391f4f",
                "228c30a947a343f0"
            ]
        ]
    },
    {
        "id": "7a8d65bdfe768491",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "voltage_L1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "7d7b35a83f1c8b37"
            ]
        ]
    },
    {
        "id": "18914cfcc71fe8f2",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "current_L1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "f65c9c7f0fe6db12"
            ]
        ]
    },
    {
        "id": "d619ef1751d95be7",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "power_L1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "5e55fc1fd2ebc104"
            ]
        ]
    },
    {
        "id": "ccd5d427a756f425",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "42550c8ab4794ab0",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Frequency: ",
        "format": "{{msg.frequency_L1 +\"Hz\"}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "",
        "color": "#ffffff",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "85e5995765a4b20e",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "42550c8ab4794ab0",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Power Factor: ",
        "format": "{{msg.pf_L1}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "",
        "color": "#ffffff",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "a67d5c0344dcd126",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{msg.voltage_L1}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#0000ff",
            "#0000ff",
            "#0000ff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "d9c1797311f70dcd",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{msg.current_L1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3974edd88213c87",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Power",
        "label": "Watt",
        "format": "{{msg.power_L1}}",
        "min": 0,
        "max": "22000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "7d7b35a83f1c8b37",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 8,
        "width": 12,
        "height": 4,
        "label": "Voltage Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0400ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f65c9c7f0fe6db12",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 9,
        "width": 12,
        "height": 4,
        "label": "Current Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000c8",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ff0000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5e55fc1fd2ebc104",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "42550c8ab4794ab0",
        "order": 10,
        "width": 12,
        "height": 4,
        "label": "Power Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000096",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c2466f8c8936be5d",
        "type": "modbus-read",
        "z": "edf5691ec05a76df",
        "name": "Read Holding Register",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "36",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3835f24cae29b1d9",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "0b5c3afa7527547d"
            ],
            []
        ]
    },
    {
        "id": "f79670b7a27bf7b3",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "78d3bdda20a73508",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{msg.voltage_L2}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#ffff00",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "314d75290b5fa781",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "78d3bdda20a73508",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{msg.current_L2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "d46753231f428daf",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "78d3bdda20a73508",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Power",
        "label": "Watt",
        "format": "{{msg.power_L2}}",
        "min": 0,
        "max": "22000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "9236e2272794a0ab",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "78d3bdda20a73508",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Frequency: ",
        "format": "{{msg.frequency_L2 +\"Hz\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "22",
        "color": "#ffffff",
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "201a2fcc18a267af",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "78d3bdda20a73508",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Power Factor: ",
        "format": "{{msg.pf_L2}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "",
        "color": "#ffffff",
        "x": 580,
        "y": 640,
        "wires": []
    },
    {
        "id": "dd41ad6902f1da25",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "voltage_L2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 680,
        "wires": [
            [
                "de147403683feee4"
            ]
        ]
    },
    {
        "id": "0d6cf2940caddc8f",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "current_L2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 720,
        "wires": [
            [
                "07dc2849ed8a73e8"
            ]
        ]
    },
    {
        "id": "457f3f5f120dc3fe",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "power_L2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 760,
        "wires": [
            [
                "20f397cfeb90b0ec"
            ]
        ]
    },
    {
        "id": "de147403683feee4",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "78d3bdda20a73508",
        "order": 8,
        "width": 12,
        "height": 4,
        "label": "Voltage Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffff00",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "07dc2849ed8a73e8",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "78d3bdda20a73508",
        "order": 9,
        "width": 12,
        "height": 4,
        "label": "Current Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c8c800",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ff0000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "20f397cfeb90b0ec",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "78d3bdda20a73508",
        "order": 10,
        "width": 12,
        "height": 4,
        "label": "Power Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#969600",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9956b831aa2847ba",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "ee8042d1764cbe4d",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{msg.voltage_L3}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#ff0000",
            "#ff0000",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "ffe4715df2c889f6",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "ee8042d1764cbe4d",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{msg.current_L3}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "775561dc69c5402b",
        "type": "ui_gauge",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "ee8042d1764cbe4d",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Power",
        "label": "Watt",
        "format": "{{msg.power_L3}}",
        "min": 0,
        "max": "22000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 150,
        "y": 420,
        "wires": []
    },
    {
        "id": "a36510582ba13d27",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "ee8042d1764cbe4d",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Frequency: ",
        "format": "{{msg.frequency_L3 +\"Hz\"}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "",
        "color": "#ffffff",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "357c20fbe554c8f3",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "ee8042d1764cbe4d",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Power Factor: ",
        "format": "{{msg.pf_L3}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "",
        "color": "#ffffff",
        "x": 180,
        "y": 500,
        "wires": []
    },
    {
        "id": "fa4be7bb3f1f2207",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "voltage_L3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 540,
        "wires": [
            [
                "182c7298790a4ec6"
            ]
        ]
    },
    {
        "id": "52c2f436c365a3bf",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "current_L3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 580,
        "wires": [
            [
                "789728fd55650dc2"
            ]
        ]
    },
    {
        "id": "136cd82f96ec1854",
        "type": "change",
        "z": "edf5691ec05a76df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "power_L3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 620,
        "wires": [
            [
                "acb26436b9516d21"
            ]
        ]
    },
    {
        "id": "182c7298790a4ec6",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "ee8042d1764cbe4d",
        "order": 8,
        "width": 12,
        "height": 4,
        "label": "Voltage Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "789728fd55650dc2",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "ee8042d1764cbe4d",
        "order": 9,
        "width": 12,
        "height": 4,
        "label": "Current Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c80000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ff0000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "acb26436b9516d21",
        "type": "ui_chart",
        "z": "edf5691ec05a76df",
        "name": "",
        "group": "ee8042d1764cbe4d",
        "order": 10,
        "width": 12,
        "height": 4,
        "label": "Power Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#960000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "90acecc3ebfaed59",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "efbf0313d5dedeb5",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "V R-S",
        "format": "{{msg.rs +\" V\"}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "25",
        "color": "#ffffff",
        "x": 970,
        "y": 580,
        "wires": []
    },
    {
        "id": "d488d9796df2e504",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "efbf0313d5dedeb5",
        "order": 6,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "V R-T",
        "format": "{{msg.rt +\" V\"}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "25",
        "color": "#ffffff",
        "x": 970,
        "y": 620,
        "wires": []
    },
    {
        "id": "700df19eee195630",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "efbf0313d5dedeb5",
        "order": 5,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "V S-T",
        "format": "{{msg.ts +\" V\"}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "25",
        "color": "#ffffff",
        "x": 970,
        "y": 660,
        "wires": []
    },
    {
        "id": "72a0cd2988cbeb54",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "efbf0313d5dedeb5",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "V R-N",
        "format": "{{msg.voltage_L3 +\" V\"}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "25",
        "color": "#0ba800",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "618037b6ac391f4f",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "efbf0313d5dedeb5",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "V S-N",
        "format": "{{msg.voltage_L2 +\" V\"}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "25",
        "color": "#0ba800",
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "228c30a947a343f0",
        "type": "ui_text",
        "z": "edf5691ec05a76df",
        "group": "efbf0313d5dedeb5",
        "order": 3,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "V T-N",
        "format": "{{msg.voltage_L1 +\" V\"}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "25",
        "color": "#0ba800",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "101a0447b9b997b9",
        "type": "file",
        "z": "edf5691ec05a76df",
        "name": "",
        "filename": "/C/test/28_8_2024_logs2.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 900,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0fa0a4088fc4289f",
        "type": "function",
        "z": "edf5691ec05a76df",
        "name": "function 1",
        "func": "var t = new Date().toLocaleString();\nmsg.tgl = t;\nmsg.payload = {\"Time\": t,\n                 \"V R\": msg.voltage_L3,\n                 \"V S\": msg.voltage_L2,\n                 \"V T\": msg.voltage_L1,\n                 \"V R-S\": msg.rs,\n                 \"V R-T\": msg.rt,\n                 \"V S-T\": msg.ts};\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 20,
        "wires": [
            [
                "101a0447b9b997b9"
            ]
        ]
    },
    {
        "id": "114367322243a941",
        "type": "modbus-read",
        "z": "edf5691ec05a76df",
        "name": "Read Holding Register",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "36",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3835f24cae29b1d9",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "8932553aa03b400b"
            ],
            []
        ]
    },
    {
        "id": "8932553aa03b400b",
        "type": "function",
        "z": "edf5691ec05a76df",
        "name": "Get Data",
        "func": "// L1 Variables\nvar v1_int = msg.payload[0];\nvar v1_dec = msg.payload[1]/100;\nmsg.voltage_L1 = v1_int + v1_dec;\n\nvar c1_int = msg.payload[2];\nvar c1_dec = msg.payload[3]/100;\nmsg.current_L1 = c1_int + c1_dec;\n\nvar p1_int = msg.payload[4];\nvar p1_dec = msg.payload[5]/100;\nmsg.power_L1 = p1_int + p1_dec;\n\nvar e1_int = msg.payload[6];\nvar e1_dec = msg.payload[7]/1000;\nmsg.energy_L1 = e1_int + e1_dec;\n\nvar f1_int = msg.payload[8];\nvar f1_dec = msg.payload[9]/10;\nmsg.frequency_L1 = f1_int + f1_dec;\n\nvar pf1_int = msg.payload[10];\nvar pf1_dec = msg.payload[11]/100;\nmsg.pf_L1 = pf1_int + pf1_dec;\n\n// L2 Variables\nvar v2_int = msg.payload[12];\nvar v2_dec = msg.payload[13]/100;\nmsg.voltage_L2 = v2_int + v2_dec;\n\nvar c2_int = msg.payload[14];\nvar c2_dec = msg.payload[15]/100;\nmsg.current_L2 = c2_int + c2_dec;\n\nvar p2_int = msg.payload[16];\nvar p2_dec = msg.payload[17]/100;\nmsg.power_L2 = p2_int + p2_dec;\n\nvar e2_int = msg.payload[18];\nvar e2_dec = msg.payload[19]/1000;\nmsg.energy_L2 = e2_int + e2_dec;\n\nvar f2_int = msg.payload[20];\nvar f2_dec = msg.payload[21]/10;\nmsg.frequency_L2 = f2_int + f2_dec;\n\nvar pf2_int = msg.payload[22];\nvar pf2_dec = msg.payload[23]/100;\nmsg.pf_L2 = pf2_int + pf2_dec;\n\n// L3 Variables\nvar v3_int = msg.payload[24];\nvar v3_dec = msg.payload[25]/100;\nmsg.voltage_L3 = v3_int + v3_dec;\n\nvar c3_int = msg.payload[26];\nvar c3_dec = msg.payload[27]/100;\nmsg.current_L3 = c3_int + c3_dec;\n\nvar p3_int = msg.payload[28];\nvar p3_dec = msg.payload[29]/100;\nmsg.power_L3 = p3_int + p3_dec;\n\nvar e3_int = msg.payload[30];\nvar e3_dec = msg.payload[31]/1000;\nmsg.energy_L3 = e3_int + e3_dec;\n\nvar f3_int = msg.payload[32];\nvar f3_dec = msg.payload[33]/10;\nmsg.frequency_L3 = f3_int + f3_dec;\n\nvar pf3_int = msg.payload[34];\nvar pf3_dec = msg.payload[35]/100;\nmsg.pf_L3 = pf3_int + pf3_dec;\n\n\n//msg.voltage_L1 = v1_int + v1_dec;\n//msg.voltage_L2 = v2_int + v2_dec;\n//msg.voltage_L3 = v3_int + v3_dec;\n\nmsg.rs = ((((v3_int + v3_dec) + (v2_int + v2_dec))/2)*1.732).toFixed(2);\nmsg.rt = ((((v3_int + v3_dec) + (v1_int + v1_dec))/2)*1.732).toFixed(2);\nmsg.ts = ((((v1_int + v1_dec) + (v2_int + v2_dec))/2)*1.732).toFixed(2);\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "0fa0a4088fc4289f"
            ]
        ]
    },
    {
        "id": "a79880c1fed02164",
        "type": "ui_spacer",
        "z": "edf5691ec05a76df",
        "name": "spacer",
        "group": "ee8042d1764cbe4d",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "f57325014b894446",
        "type": "ui_spacer",
        "z": "edf5691ec05a76df",
        "name": "spacer",
        "group": "ee8042d1764cbe4d",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "ac3a4bb0ecc2064c",
        "type": "ui_spacer",
        "z": "edf5691ec05a76df",
        "name": "spacer",
        "group": "78d3bdda20a73508",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "d9ee22c77b1143cc",
        "type": "ui_spacer",
        "z": "edf5691ec05a76df",
        "name": "spacer",
        "group": "78d3bdda20a73508",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "bcca620d27c0269a",
        "type": "ui_spacer",
        "z": "edf5691ec05a76df",
        "name": "spacer",
        "group": "42550c8ab4794ab0",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "4d5fae59c5af7426",
        "type": "ui_spacer",
        "z": "edf5691ec05a76df",
        "name": "spacer",
        "group": "42550c8ab4794ab0",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "42550c8ab4794ab0",
        "type": "ui_group",
        "name": "T PHASE",
        "tab": "adb39634c8cfe93c",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3835f24cae29b1d9",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.247",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "78d3bdda20a73508",
        "type": "ui_group",
        "name": "S PHASE",
        "tab": "adb39634c8cfe93c",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ee8042d1764cbe4d",
        "type": "ui_group",
        "name": "R PHASE",
        "tab": "adb39634c8cfe93c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "efbf0313d5dedeb5",
        "type": "ui_group",
        "name": "Voltages",
        "tab": "adb39634c8cfe93c",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "adb39634c8cfe93c",
        "type": "ui_tab",
        "name": "3 Phase Power Meter PT.BYI",
        "icon": "flash_auto",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]